<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>BLueCademy: Course Detail</title>
    <link rel="stylesheet" href="themes/mcclab.min.css" />
    <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

	<script type="text/javascript">
        $(document).ready(function(){
            $('#home').click(function(){
                window.location.href = '/homepage';
            })
        
            $('#my_course').click(function(){
                window.location.href = '/mycourse'
            })

            $('#logout').click(function(){
                window.location.href = '/'
                sessionStorage.clear();
            })
        })
        var email = sessionStorage.getItem('email');
        var data = sessionStorage.getItem('u_');

       
        
        function get_data(course_id) {
            var url = "https://mcclabapi.herokuapp.com/detail_courses";
            var opt = {
                url: url,
                type: 'POST',
                data: {
                    course_id: course_id
                }
            };
            var request = $.ajax(opt);
            request.done(function (response) {
                $('#main_course_name').text(response.main_course_name);
                $('#course_name').text(response.course_name);
                $('#description').text(response.description);
                $('#video').attr("src",response.link);
                    
            })
        }
        $(function () {//onload
            var params = window.location.search;
            var search = new URLSearchParams(params);
            var course_id = search.get('course_id');
            get_data(course_id);

            var check = $.ajax({
                url:'https://mcclabapi.herokuapp.com/user_courses',
                type:'POST',
                data:{
                    userid : sessionStorage.getItem("id")
                }
            })
            check.done(function(results){
                for(let i=0;i<results.courses.length;i++){
                    if(course_id==results.courses[i].id){
                        $('#save_button').remove()
                    }
                }
            })

            $('#save_button').click(function () {

                var assign = $.ajax({
                    url:"https://mcclabapi.herokuapp.com/assign_course",
                    type:'POST',
                    data:{
                        course_id : course_id,
                        user_id : sessionStorage.getItem("id")
                    }
                })
                assign.done(function(results){
                    if(results.status=="success"){
                        window.location.reload()
                    }
                })

                // var arr;
                // if (!data) {
                //     arr = [];
                // }
                // else {
                //     arr = JSON.parse(data);
                // }
                // arr.push(course_id);
                // data = JSON.stringify(arr);
                // sessionStorage.setItem('u_', data);
                // window.location.reload();
            })
            // for (let i = 0; i < data.length; i++) {
            //     if(data[i]==course_id){
            //         $('#save_button').remove();
            //         break;
            //     }
            // }
        })
	</script>
</head>

<body>
	<div data-role="page" data-theme="a">
		<div data-role="header" data-position="inline">
            <h1>COURSE DETAIL</h1>
            <div data-role="navbar">
                <ul>
                    <li><a href="homepage.html" id="home" >Home</a></li>
                    <li><a href="mycourse.html" id="my_course">My Course</a></li>
                </ul>
            </div><!-- /navbar -->
		</div>
		<div data-role="content" data-theme="a">
            <form id="form">
                <h1 id="main_course_name"></h1>
                <h2 id="course_name"></h2>
                <p id="description"></p>

                <iframe width="350" height="200" id="video"></iframe>

                <input type="button" value="ADD COURSE" id="save_button" />

            </form>

            
        </div>
        
        <a href="#" id="logout">Logout</a>
        
        
	</div>
</body>
</html>