<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BLueCademy: My Course</title>
    <link rel="stylesheet" href="themes/mcclab.min.css" />
    <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

	<script>
		$(document).ready(function(){
            $('#home').click(function(){
                window.location.href = '/homepage';
            })
            $('#logout').click(function(){
                window.location.href = '/';
                sessionStorage.clear();
            })
        })
       
        function move(e){
            window.location.href="/coursedetail?course_id="+e;
        }

        $(function(){
            var mycourse = $.ajax({
                url:'https://mcclabapi.herokuapp.com/user_courses',
                type:'POST',
                data:{
                    userid:sessionStorage.getItem("id")
                }
            })
            mycourse.done(function(results){
                for(let i=0;i<results.courses.length;i++){
                    
                        $('#list').append(`<li><a onclick="move(${results.courses[i].id})"><iframe style="float:left" width="125" height="125" src="${results.courses[i].link}"></iframe>`+
                            `<h1>${results.courses[i].main_course_name}</h1><h2>${results.courses[i].course_name}</h2><p>${results.courses[i].description}</p></a></li>`) 
                        
                        $('#list').trigger('create');
                        $('#list').listview('refresh');
                }
            })
        })
	
	</script>
</head>

<body>
	<div data-role="page" data-theme="a">
		<div data-role="header" data-position="inline">
            <h1>MY COURSE</h1>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" id="home" >Home</a></li>
                    <li><a href="#" class="ui-btn-active">My Course</a></li>
                </ul>
            </div><!-- /navbar -->
		</div>
		<div data-role="content" data-theme="a">
                <ul data-role="listview" data-split-theme="a" data-inset="true" id="list">
                    
                </ul>

            <a href="#" id="logout">Logout</a>
        </div>
        
	</div>
</body>
</html>