<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>BLueCademy: Register</title>
		<link rel="stylesheet" href="themes/mcclab.min.css" />
		<link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
		<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>	
		<script src="javascripts/register.js"></script>
	</head>
	
	<body>
		<div data-role="page" data-theme="a">
			<div data-role="header" data-position="inline">
				<h1>REGISTER PAGE</h1>
			</div>
			<div data-role="content" data-theme="a">
				<form id="login-form">
                    <label for="facebook_id">Facebook ID:</label>
                    <input type="hidden" name="facebook_id" id="facebook_id">
                    
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                    
                    <label for="username">Email:</label>
                    <input type="text" name="username" id="username" required>

					<label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                    
                    <label for="con_password">Confirm Password:</label>
                    <input type="password" name="con_password" id="con_password" required>

                    <label for="phone_num">Phone Number:</label>
                    <input type="number" name="phone_num" id="phone_num" required>
					
					<input type="submit" value="SIGN UP">
					<h5 style="text-align:center">OR</h5>
					<input id="facebook_login" type="button" value="LOGIN WITH FACEBOOK">
				</form>
	
			</div>
		</div>
	</body>
</html>